.row{
	width: 100%;
	}
	.colum h2{
		margin:3rem;
	}
	.column{
		width: 100%;
		margin-top: 30px;
	}
	.column p{
		font-size: 25px;
		margin-left: 2rem;
	}
	.column1{
		display:flex;
		width: 100%;
		display-direction:row;
		margin-left: 2rem;
		display: wrap;
	}
.column1 .form-group{
	padding: 10px;

	}

.form-group{
	width: 350px;
	display: inline-flex;
}
.form-group input{
	margin-left: 2rem;
	display: inline-flex;
}